<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Template</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/slick.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/media.css">
</head>
<body>
	
	<div class="container">
		<header>
			<div class="support">
				<img src="img/support.svg" alt="">
				<div class="support_t">
					Служба поддержка
					<span>71 123 45 67</span>
				</div>
				
			</div>
			<img src="img/logo.png" alt="" class="logo">	
			<div class="btns">
				<a href="#" class="cart">
					
					<div class="cart_t">
						Корзина
						<span>1 200 000 сум</span>
					</div>
					<img src="img/cart.svg" alt="">
				</a>
				<a href="#" class="fav">
					<img src="img/fav.svg" alt="">
				</a>
				<a href="#" class="user">
					<img src="img/user.svg" alt="">
				</a>
			</div>		
		</header>
	</div>
	<div class="container">
		<nav class="navbar">
			<button class="catb">
				<img src="img/menu.svg" alt="">
				Каталог
			</button>
			<ul>
				<li><a href="#">Помолвка и свадьба</a></li>
				<li><a href="#">ЮВЕЛИРНЫЕ ИЗДЕЛИЯ</a></li>
				<li><a href="#">КОЛЛЕКЦИИ</a></li>
				<li><a href="#">БРИЛЛИАНТЫ</a></li>
				<li><a href="#">ЧАСЫ</a></li>
				<li><a href="#">ПОДАРКИ</a></li>
			</ul>
			<button class="search">
				Поиск <img src="img/search.svg" alt="">
			</button>
		</nav>		
	</div>
    <div class="head">
        <div class="container pos">
            <div class="head_caption full">
                <h1>В Ташкенте впервые пройдёт ювелирная выставка</h1>
                
            </div>
        </div>
        
    </div>
	<div class="breadcrumb">
        <div class="container">
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">Помолвка и свадьба</a></li>
                <li>Золотое кольцо с фианитом</li>
            </ul>
        </div>
    </div>
   <div class="wrapper">
       <div class="container">
           <div class="product">
               <div class="product_gal">
                  <div class="product_gal-pict">
                     <a href="#" style="background-image: url(img/bigring.jpg);"></a>
                     <a href="#" style="background-image: url(img/bigring.jpg);"></a>
                     <a href="#" style="background-image: url(img/bigring.jpg);"></a>
                     <a href="#" style="background-image: url(img/bigring.jpg);"></a>
                     <a href="#" style="background-image: url(img/bigring.jpg);"></a>
                  </div>
                  <div class="product_gal-nav">
                     <div class="product_gal-list">
                        <div class="item" style="background-image: url(img/bigring.jpg);"></div>
                        <div class="item" style="background-image: url(img/bigring.jpg);"></div>
                        <div class="item" style="background-image: url(img/bigring.jpg);"></div>
                        <div class="item" style="background-image: url(img/bigring.jpg);"></div>
                        <div class="item" style="background-image: url(img/bigring.jpg);"></div>
                     </div>
                  </div>
                  
               </div>
               <div class="product_info">
                  <div class="product_articul">Артикул: <b>123546</b></div>
                  <div class="product_title">Золотое кольцо «Бриллианты Якутии» </div>
                  <div class="product_price">
                     <b>920 000</b> сум
                     <div class="old">
                        1 220 000 сум
                     </div>
                  </div>
                  <div class="product_size">
                     <span>Размер:</span>
                     <div class="product_size_list">
                        <a href="#">15</a>
                        <a href="#" class="active">15.5</a>
                        <a href="#">16</a>
                        <a href="#">16.5</a>
                        <a href="#">16.5</a>
                        <a href="#">16.5</a>
                     </div>
                  </div>
                  <div class="product_btns">
                     <button class="tocart">Добавить в корзину</button>
                     <button class="payone">Купить в один клик</button>
                  </div>
                  <div class="product_fav">
                     <button class="fav"><img src="img/fav2.svg" alt=""> Сохранить</button>
                     <button class="share"><img src="img/share.svg" alt=""> Поделиться</button>
                  </div>
                  <span class="btitle">Описание</span>
                  <p>Бренд: <a href="#">БРИЛЛИАНТЫ ЯКУТИИ</a> <br> 
                     Страна производства: Россия <br>
                     Модель: 0496-K5R-01 <br>
                     Вставка: <a href="#">Бриллиант</a> <br> 
                     Кольцо «Бриллианты Якутии» с 1 бриллиантом, 0.06 карат; Розовое золото 585 пробы <br> 
                     Вес изделия: 1.14 г</p>
                  <span class="btitle">Гарантия</span>
                  <p>На все товары действует гарантия. Срок гарантии и другую информацию можно уточнить в службе поддержки клиентов.</p>   
               </div>
           </div>
           <a href="#" class="bmore">Может понравиться </a>
           <div class="products list">
            <div class="row">
               <div class="products_item">
                  <div class="products_box">
                     <span class="saleinfo">10%</span>
                     <button class="products_box-fav"><img src="img/bfav.svg" alt=""></button>
                     <div class="products_box-img">
                        <img src="img/ring.jpg" alt="">
                     </div>
                     <button class="tocart">+</button>
                     <div class="products_box-info">
                        <div class="products_box-cat">Кольца</div>
                        <a href="#">Золотое кольцо SOKOLOV с фианитом</a>
                        <div class="products_box-price"><img src="img/money.svg" alt=""> 980 000 сум</div>
                     </div>
                  </div>
               </div>
               
               <div class="products_item">
                  <div class="products_box">
                     <span class="saleinfo">10%</span>
                     <button class="products_box-fav"><img src="img/bfav.svg" alt=""></button>
                     <div class="products_box-img">
                        <img src="img/ring.jpg" alt="">
                     </div>
                     <button class="tocart">+</button>
                     <div class="products_box-info">
                        <div class="products_box-cat">Кольца</div>
                        <a href="#">Золотое кольцо SOKOLOV с фианитом</a>
                        <div class="products_box-price"><img src="img/money.svg" alt=""> 980 000 сум</div>
                     </div>
                  </div>
               </div>
               <div class="products_item">
                  <div class="products_box">
                     <span class="saleinfo">10%</span>
                     <button class="products_box-fav"><img src="img/bfav.svg" alt=""></button>
                     <div class="products_box-img">
                        <img src="img/ring.jpg" alt="">
                     </div>
                     <button class="tocart">+</button>
                     <div class="products_box-info">
                        <div class="products_box-cat">Кольца</div>
                        <a href="#">Золотое кольцо SOKOLOV с фианитом</a>
                        <div class="products_box-price"><img src="img/money.svg" alt=""> 980 000 сум</div>
                     </div>
                  </div>
               </div>
               <div class="products_item">
                  <div class="products_box">
                     <span class="saleinfo">10%</span>
                     <button class="products_box-fav"><img src="img/bfav.svg" alt=""></button>
                     <div class="products_box-img">
                        <img src="img/ring.jpg" alt="">
                     </div>
                     <button class="tocart">+</button>
                     <div class="products_box-info">
                        <div class="products_box-cat">Кольца</div>
                        <a href="#">Золотое кольцо SOKOLOV с фианитом</a>
                        <div class="products_box-price"><img src="img/money.svg" alt=""> 980 000 сум</div>
                     </div>
                  </div>
               </div>
              </div>
           </div>
           
       </div>
   </div>
   <div class="quote">
      <div class="container">
         <div class="quote_title">Отзывы</div>
         <div class="quote_list">
            <div class="quote_item">
               <p>Провожу отпуск в Ташкенте,сегодня зашла в ваш магазин, приобрела серёжки, хочу выразить благодарность за отличную консультацию девушки продавца, к сожалению имя не запомнила. Спасибо за её внимательность и терпение, я очень долго не могла определиться с выбором!</p>
               <div class="quote_rate">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
               </div>
               <div class="quote_date">03 сентября 2020 </div>
               <div class="quote_who">Светлана Мошникова </div>
            </div>
            <div class="quote_item">
               <p>Провожу отпуск в Ташкенте,сегодня зашла в ваш магазин, приобрела серёжки, хочу выразить благодарность за отличную консультацию девушки продавца, к сожалению имя не запомнила. Спасибо за её внимательность и терпение, я очень долго не могла определиться с выбором!</p>
               <div class="quote_rate">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
               </div>
               <div class="quote_date">03 сентября 2020 </div>
               <div class="quote_who">Светлана Мошникова </div>
            </div>
            <div class="quote_item">
               <p>Провожу отпуск в Ташкенте,сегодня зашла в ваш магазин, приобрела серёжки, хочу выразить благодарность за отличную консультацию девушки продавца, к сожалению имя не запомнила. Спасибо за её внимательность и терпение, я очень долго не могла определиться с выбором!</p>
               <div class="quote_rate">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
               </div>
               <div class="quote_date">03 сентября 2020 </div>
               <div class="quote_who">Светлана Мошникова </div> 
            </div>
            <div class="quote_item">
               <p>Провожу отпуск в Ташкенте,сегодня зашла в ваш магазин, приобрела серёжки, хочу выразить благодарность за отличную консультацию девушки продавца, к сожалению имя не запомнила. Спасибо за её внимательность и терпение, я очень долго не могла определиться с выбором!</p>
               <div class="quote_rate">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
               </div>
               <div class="quote_date">03 сентября 2020 </div>
               <div class="quote_who">Светлана Мошникова </div>
            </div>
         </div>
      </div>
   </div>
   <footer>
      <div class="top">
         <div class="container">
            <div class="top_item">
               <span>ОБРАТНАЯ СВЯЗЬ</span>
               <ul>
                  <li><a href="#">Вопросы и ответы </a></li>
                  <li><a href="#">Вопросы и ответы </a></li>
                  <li><a href="#">Вопросы и ответы </a></li>
                  <li><a href="#">Вопросы и ответы </a></li>
               </ul>
            </div>
            <div class="top_item">
               <span>ОБРАТНАЯ СВЯЗЬ</span>
               <ul>
                  <li><a href="#">Вопросы и ответы </a></li>
                  <li><a href="#">Вопросы и ответы </a></li>
                  <li><a href="#">Вопросы и ответы </a></li>
                  <li><a href="#">Вопросы и ответы </a></li>
               </ul>
            </div>
            <div class="top_item">
               <span>ОБРАТНАЯ СВЯЗЬ</span>
               <ul>
                  <li><a href="#">Вопросы и ответы </a></li>
                  <li><a href="#">Вопросы и ответы </a></li>
                  <li><a href="#">Вопросы и ответы </a></li>
                  <li><a href="#">Вопросы и ответы </a></li>
               </ul>
            </div>
            <div class="top_item social">
               <span>МЫ В СОЦИАЛЬНЫХ СЕТЯХ</span>
               <a href="#"><img src="img/089-telegram.png" alt=""></a>
               <a href="#"><img src="img/024-facebook.png" alt=""></a>
               <a href="#"><img src="img/044-instagram.png" alt=""></a>
               <br>
               Бесплатный звонок
               <span class="phone">+998 71 123 45 67</span>
            </div>
            <div class="top_item">
               <span>СПОСОБЫ ОПЛАТЫ</span>
               <img src="img/humo 1.jpg" alt="">
               <img src="img/uzcard.jpg" alt="">
               <img src="img/visa.jpg" alt="">

            </div>
         </div>
      </div>
      <div class="bottom">
         <div class="container">
            <div class="copyright">
               © 2020. SUMA-JEWELLRY
            </div>
            <div class="author">
               Разработка сайтов Tuitsoft.uz
            </div>
         </div>
      </div>
   </footer>

	<script src="js/jquery.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>

</body>
</html>